body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 390px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background-color: #000;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    line-height: 12px;
}

h3 {
    font-size: 20px;
    height: 12px;
    font-weight: bold;
    color: #548B6C;
    margin-top: 0;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

span {
    font-size: 12px;
}

div {
    display: inline-block;
}

/*nav*/
a {
    text-decoration: none;
}

#menu-switcher {
    display: none;
}

.burger {
    position: absolute;
    display: block;
    right: 16px;
}

.menu {
    background-image: url(../img/burger_ch.png);
    background-size: 100% ;
    width: 44px;
    height:2800px;
    position: absolute;
    right: 0;
    margin-top: 0;
    z-index: 100;
    transform: translateX(1000%);
    transition: 0.6s;
    list-style-type: none;
    padding-left: 41px;
    padding-right: 16px;
}
.burgericon{
    margin-bottom: 36px;
}
.li {
    padding-bottom: 16px;
}

#menu-switcher:checked~.menu {
    transform: translateX(0%);
}

nav {
    position: absolute;
    z-index: 10000;
    position: fixed;
    width: 390px;
    display: flex;
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    height: 56px;
    font-size: 20px;
    color: #ffffff;
}

.back {
    padding-left: 16px;
}
/*nav*/
.flex {
    margin-top: -30px;
    display: flex;
    width: 390px;
    height: 20px;
    text-align: center;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.box1 {
    background-image: url(../img/2-1.png);
    background-size: 100% 100%;
    height: 228px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 100px;
}

.box2 {
    background-image: url(../img/2-2.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.box3 {
    background-image: url(../img/2-4.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.box4 {
    background-image: url(../img/2-5.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.question-btn {
    background-image: url(../img/2-3.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    width: 390px;
    height: 388px;
    margin-bottom: -125px;
    padding-bottom: 26px;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.textb {
    color: #6f6f6f;
}

.textg {
    color: #548B6C;
}

.text {
    width: 354px;
    line-height: 34px;
}

.trailimg {
    margin-right: 20px;
}

.icon {
    margin-bottom: -3px;
}

.trailtext {
    height: 12px;
    color: #000;
}

.trail {
    display: flex;
    margin-top: 20px;
}

.question-text {
    display: none;
    width: 390px;
    padding-top: 75px;
    padding-bottom: 120px;
    margin-bottom: -125px;
    background-color: rgb(255, 255, 255);

}

.questionmtext {
    padding-left: 18px;
}

.minus-icon {
    display: none;
}

.flex2 {
    display: flex;
    width: 390px;
    gap: 10px;
}

/* 顯示回答區域*/
.show-text .question-text {
    display: block;
}

/* 顯示關閉按鈕*/
.show-text .minus-icon {
    display: inline;
}

/* 隱藏開啟按鈕*/
.show-text .plus-icon {
    display: none;
}

.sticky-bottom {
    background-color: #548B6C;
    border: none;
    color: rgb(255, 255, 255);
    width: 358px;
    height: 48px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 90%;
    z-index: 1000;
}

.box6 {
    background-image: url(../img/2-6.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.box7 {
    background-image: url(../img/2-7.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.box8 {
    background-image: url(../img/2-8.png);
    background-size: 100% 100%;
    height: 248px;
    width: 390px;
    margin-bottom: -125px;
    text-align: center;
    padding-top: 140px;
}

.box9 {
    background-image: url(../img/2-9.png);
    background-size: 100% 100%;
    height: 180px;
    width: 390px;
    margin-bottom: 0;
    text-align: center;
    padding-top: 140px;
}