* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {  
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5B8268;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    color: #ffffff;
}

.p12 {
    font-size: 20px;
    font-weight: normal;
    color: #CCCDD2;
}

p {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
}

span {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

nav {
    background-image: url(../img/ipad_nav.png);
    width: 382px;
    height: 1324px;
    position: absolute;
    position: fixed;
    z-index: 100;
    padding-left: 117px;
    padding-top: 368px;
    margin-left: 643px;
}

.weather {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: 44px;
}

.weathertext {
    margin-left: 20px;
    font-size: 50px;
    line-height: 80px;
}

.weatherC {
    margin-left: 10px;
    font-size: 40px;
    line-height: 80px;
}

.name {
    text-align: center;
    position: absolute;
    left: 145px;
    top: 250px;
}

.burger{
    font-size: 25px;
    margin-left: 10px;
}

li {
    margin-bottom: 40px;
}

.icon {
    margin-bottom: 3px;
}

.all {
    position: absolute;
    left: 0;
    top: 0;
}

.box1 {
    background-image: url(../img/ipad_box1.png);
    width: 723px;
    height: 384px;
    padding-left: 50px;
    padding-top: 154px;
    margin-bottom: -160px;
}

.box2 {
    background-image: url(../img/ipad_box2.png);
    width: 723px;
    height: 464px;
    text-align: center;
    padding-top: 200px;
    margin-bottom: -160px;
}

.flex {
    margin-top: 10px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.box3 {
    background-image: url(../img/ipad_box3.png);
    width: 723px;
    height: 464px;
    padding-left: 50px;
    padding-top: 250px;
    margin-bottom: -160px;
}

.box4 {
    background-image: url(../img/ipad_box4.png);
    width: 723px;
    height: 490px;
    text-align: center;
    padding-top: 150px;
    margin-bottom: -372px;
}

.box5 {
    background-image: url(../img/ipad_box5.png);
    width: 723px;
    height: 325.34px;
    text-align: end;
    z-index: 10;
    padding-top: 187px;
    padding-right: 50px;
    margin-bottom: 0;
}

.box5-2 {
    background-image: url(../img/ipad_box5-3.png);
    width: 723px;
    height: 325.34px;
    text-align: end;
    padding-top: 187px;
    padding-right: 50px;
    margin-bottom: 0;
}

.box5-3 {
    background-image: url(../img/ipad_box5-2.png);
    width: 723px;
    height: 325.34px;
    text-align: end;
    padding-top: 187px;
    padding-right: 50px;
    margin-bottom: 0;
}

.box5-4 {
    background-image: url(../img/ipad_box5-4.png);
    width: 723px;
    height: 325.34px;
    text-align: end;
    padding-top: 187px;
    padding-right: 50px;
    margin-bottom: 0;
}

.box5-5 {
    background-image: url(../img/ipad_box5-5.png);
    width: 723px;
    height: 325.34px;
    text-align: end;
    padding-top: 280px;
    padding-right: 50px;
    margin-bottom: 0;
}

.allseason {
    position: absolute;
    left: 0;
    bottom: -48px;
}