body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 390px;
    height: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #5B8168;
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-left: -32px;
    margin-bottom: 74px;
}

p {
    color: #548B6C;
    font-size: 16px;
    margin-bottom: 26px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    line-height: 12px;
}

#menu-switcher {
    display: none;
}

.burger {
    position: absolute;
    display: block;
    right: 16px;
}

.menu {
    background-image: url(../img/burger_set_up.png);
    background-size: 100% 100%;
    width: 44px;
    height:2800px;
    position: absolute;
    right: 0;
    margin-top: 0;
    z-index: 100;
    transform: translateX(1000%);
    transition: 0.6s;
    list-style-type: none;
    padding-left: 41px;
    padding-right: 16px;
}
.burgericon{
    margin-bottom: 20px;
}
.li {
    padding-bottom: 17px;
}

#menu-switcher:checked~.menu {
    transform: translateX(0%);
}

nav {
    position: absolute;
    z-index: 10000;
    position: fixed;
    width: 390px;
    display: flex;
    height: 56px;
    font-size: 20px;
    color: #ffffff;
}

.back {
    padding-left: 16px;
}

/*nav*/

.box {
    background-image: url(../img/set_up_b.png);
    background-size: 100%;
    height: 570px;
    width: 358px;
    padding-top: 230px;
    padding-left: 32px;
}

.sticky-bottom {
    background-color: #548B6C;
    border: none;
    color: rgb(255, 255, 255);
    width: 358px;
    height: 56px;
    margin-left: 16px;
    border-radius: 56px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 700px;
    z-index: 1000;
}

.icon {
    margin-bottom: -3px;
}

/*開關*/
.container,
.container2,
.container3 {
    box-sizing: border-box;
    width: 43px;
    height: 20px;
    padding: 2px;
    border-radius: 20px;
    background-color: #C3C3C3;
    margin-bottom: 28px;
}

.circle {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: -2px;
    margin-top: -2px;
    box-shadow: 0px 1px 4px #C3C3C3;
    cursor: pointer;
}

.is-active.container {
    background-color: #5FC080;
    border-color: #ffffff;
}

.is-active .circle {
    background-color: rgb(255, 255, 255);
    margin-left: calc(100% - 18px);
}

.container,
.circle {
    transition: .3s;
}

.is-active.container,
.is-active .circle {
    transition: all .3s;
}

.button {
    position: absolute;
    right: 35px;
    top: 400px;
}

.line {
    margin-top: 13px;
    margin-bottom: 13px;
}

/*下拉選單*/
select {
    border: none;
    color: #C3C3C3;
    width: 100px;
    background: none;
}

.select {
    position: absolute;
    top: 636px;
    right: 35px;
    width: 85px;
    height: 19px;
    background: url(../img/select.png);
    overflow: hidden;
}

option {
    border: none;
    color: #000000;
}