body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 390px;
    height: 800px;
    background-image: url(../img/background_g.png);
    background-color: #5B8168;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 16px;
    line-height: 12px;
}

a {
    text-decoration: none;
}

#menu-switcher {
    display: none;
}

.burger {
    position: absolute;
    display: block;
    right: 16px;
}

.menu {
    background-image: url(../img/burger_VR360.png);
    background-size: 100% 100%;
    width: 44px;
    height: 2800px;
    position: absolute;
    right: 0;
    margin-top: 0;
    z-index: 100;
    transform: translateX(1000%);
    transition: 0.6s;
    list-style-type: none;
    padding-left: 41px;
    padding-right: 16px;
}

.burgericon{
    margin-bottom: 20px;
}
.li {
    padding-bottom: 17px;
}

#menu-switcher:checked~.menu {
    transform: translateX(0%);
}

nav {
    position: absolute;
    z-index: 10000;
    position: fixed;
    width: 390px;
    display: flex;
    background: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
    height: 56px;
    font-size: 20px;
    color: #ffffff;
}

.back {
    padding-left: 16px;
}

/*nav*/